.outercontainer{
  width: 96%;
  background-color: rgb(136, 130, 130);
  min-height: 9vh;
  margin: 0 auto;
  overflow-x: scroll;
  position: relative;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.outercontainer::-webkit-scrollbar { display: none;}

.innercontainer {
  width: fit-content;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 80vh;
  background-color:  rgb(182, 174, 174);

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.item {
  width: 269px;
  height: 80%;
  background-color: white;
  box-sizing: border-box;
  padding-top: 10px;
  margin-right: 24px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.item:last-child{
  margin-right: 0px;
}.userMore{
  margin-top: 1;
}